<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">   
    <link rel="stylesheet" href="../styles/servicios.css">
    <link rel="stylesheet" href="../styles/navegador.css">
</head>
<body>
  
  <div class="navegador__contenedor nav">
    <div class="contenedor__logo">
        <img src="../img/Digital__3_-removebg-preview.png" alt="">

    </div>
    <div class="navegador__botones">
        <a href="../index.html" type="button">Inicio</a>

        <a href="./Nosotros.html" type="button">Nosotros</a>
        <button href="#" id="botonServicio"  class="botonServicio" type="button">Servicios</button>
        <div class="botonservicio__lista" id="botonservicio__lista">
          <li><a href="./DiseñoPaginas.html" type="button">Diseño de Paginas Web</a></li>
          <li><a href="#" type="button">Desarrollos Personalizados</a></li>
          <li><a href="./CreacionMYL.html" type="button">Creacion de Marcas y Logotipos</a></li>
          <li><a href="./DiseñopagNocode.html" type="button">Diseño de Paginas No-code</a></li>                         
        </div>
        <a href="./portafolio2.html" type="button">Portafolio</a>


    </div>

    <button class="switch" id="switch">
      <span class="icono"><i class="bi bi-brightness-high"></i></span>
      <span class="icono"><i class="bi bi-moon"></i></span>
    </button>

      <div class="despliegue__opciones"  id="cerrrar">
        <i class="bi bi-justify despliegue" id="despliegue"></i>

        <div class="despliegue__opciones-capa1" id="despliegue__opciones-capa1">
          <div class="cerrar">
            <i class="bi bi-x-circle-fill " id="cerrar"></i>
          </div>

          <ul>
            <li><a type="button" href="../index.html">Inicio</a></li>
            <li><a type="button" href="./Nosotros.html">Nosotros</a></li>
            <li><a type="button" href="./portafolio.html">portafolio</a></li>
            <li><button type="button" id="ampliarServicio" href="">Servicios <i class="bi bi-caret-down-square"></i></button>

              <div class="despliegue__opciones-capa2" id="despliegue__opciones-capa2">
                <ul>
                  <li><a href="./DiseñoPaginas.html" type="button">Diseño de Paginas Web</a></li>
                  <li><a href="#" type="button">Desarrollos Personalizados</a></li>
                  <li><a href="./CreacionMYL.html" type="button">Creacion de Marcas y Logotipos</a></li>
                  <li><a href="./HospedajeWeb.html" type="button">Hospedaje Web</a></li>                         
                </ul>
              </div>
            
            
            </li>
            
          </ul>
        </div>
      

      </div>



  </div>

      <main>
        <section>
          <div class=" segundo shadow-lg p-3 mb-5 bg-body rounded container">
            <div class="row my-5 ">
                <div class="col-6 align-self-center text-center">
                  <img src="../img/Untitled design (5).png" alt="" height="600px" width="500px" >
                  
                
                </div>
                  <div class="col-5 text-center border-start">
                    <h4 class="text-center tituloContenedorDesarrollo">Desarrollos Personalizados</h4>
                    <p class="parrafoServicios my-3">
                      </p>
                    
                    
                  </div>
       
              </div>
          </div>
      </section>

      </main>

      <footer class="text-center text-lg-start bg-light text-muted">
 
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          
          <div class="me-5 d-none d-lg-block">
          </div>
          
        </section>
        
       
       
        <section class="">
          <div class="container text-center text-md-start mt-5">
            
            <div class="row mt-3">
             
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i><img src="../img/Digital-removebg-preview.png" alt="" height="100px">
                </h6>
              </div>
             
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  CONTACTANOS
                </h6>
                  0 1800 519 0766
                  ORDER INFORMATION
                  FAQ
                  SITEMAP
              </div>
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  OUR COMPANY
                </h6>
                <p>
                  FIND A BOUTIQUE
                  CAREERS
                </p>
                
              </div>
              
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  Medellín-Colombia
                </h6>

                
                  



              </div>
              
            </div>
            
          </div>
        </section>
        
        <div class="text-center p-4" style="background-color:rgb(25, 60, 119); color: aliceblue;">
            Copyright © 2022
        </div>
    </footer>
    
    <script src="../controllers/navegador.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>