<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../img/Digital-removebg-preview.png" height="100px" width="150px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../views/NuestrosServicios.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nuestros servicios
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./DiseñoPaginas.html">Diseño de paginas web</a></li>
                  <li><a class="dropdown-item" href="./DesarrollosPersonalizados.html">Desarrollos Personalizados</a></li>
                  <li><a class="dropdown-item" href="./CreacionMYL.html">Creacion de marca y logotipos</a></li>
                  <li><a class="dropdown-item" href="./HospedajeWeb.html">Hospedaje web</a></li>
                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="../views/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main>

      </main>

      <footer class="text-center text-lg-start bg-light text-muted">
 
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          
          <div class="me-5 d-none d-lg-block">
          </div>
          
        </section>
        
       
       
        <section class="">
          <div class="container text-center text-md-start mt-5">
            
            <div class="row mt-3">
             
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i><img src="../img/Digital-removebg-preview.png" alt="" height="90px">
                </h6>
              </div>
             
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  CONTACTANOS
                </h6>
                  0 1800 519 0766
                  ORDER INFORMATION
                  FAQ
                  SITEMAP
              </div>
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  OUR COMPANY
                </h6>
                <p>
                  FIND A BOUTIQUE
                  CAREERS
                </p>
                
              </div>
              
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  Medellín-Colombia
                </h6>

                
                  



              </div>
              
            </div>
            
          </div>
        </section>
        
        <div class="text-center p-4" style="background-color:rgb(25, 60, 119); color: aliceblue;">
            Copyright © 2022
        </div>
    </footer>
    

    <script src="./controllers/controlador.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
</body>
</html>