.nav{
    position:fixed;
    width: 100%;
    z-index: 1;
    top: 0;
} 

/* main{
    position: sticky;
} */


/* .bi{
    position:fixed;
    width: 100%;
    z-index: 3000;
    
    
} */

.imagenBanner{
    margin-top: 0%;
}

.textoPrincipal{
    z-index: 1000;
}

.cardServicio{
    display:flex;
}


.tituloPortafolio{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline solid rgb(10, 47, 156);
}

.titulocard{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.imagen {
    width: 245px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    
}


.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 2000;
}


.contenedor__servicios-tarjetas{
    display: flex;
    justify-content: space-evenly;
}

.tarjeta{
    overflow: hidden;
}



 svg {
    
    font-size: .6em;
    width: 30%;
    text-align: center;
} 

svg text{
    font-weight: bold ;
    font-size: 90%;
}