
.navegador__contenedor{
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: rgba(18, 54, 131, 0.66);
    position: relative;

    margin-bottom: 100px;
    
    
}

#switch{
    position: absolute;
    bottom:-100% ;
    width: 5%;
    height: 35%;
    display: flex;
    border-radius: 20px;  
    justify-content:space-around;
    background-color: rgb(19, 15, 83);
    border: none;
    cursor: pointer;
    outline: none;

}


#switch i:hover{
border-radius: 25px;
color: #fff;
}


.icono{
    color: #fff;

}

.contenedor__logo{
    height: 100%   
}

.contenedor__logo img{
    height: 100%;
}

.navegador__botones{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
}

.navegador__botones a{
    border-radius: 15px;
    width: 20%;
    border: 1px solid transparent;
    justify-content: space-between;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: rgb(250, 249, 249);
    transition: 1s;
}




#botonServicio{
    position: relative !important;
        border-radius: 15px;
        width: 20%;
        border: 1px solid transparent;
        justify-content: space-between;
        margin: auto;
        text-decoration: none;
        text-align: center;
        color: rgb(250, 249, 249);
        transition: 1s;
        background-color: transparent ;
    
    
}

#botonServicio:hover{
background-color: rgb(254, 253, 253);
color: rgb(24, 23, 23);
}

.botonservicio__lista {
    width: 17%;
    position: absolute;
    background-color: #000;
    top: 100%;
    right: 2%;
    border-radius: 8px;
    display: none;
    
}

.botonservicio__lista__activo {
    width: 17%;
    position: absolute;
    background-color: #000;
    top: 100%;
    right: 2%;
    border-radius: 8px;
    display: block;
    
}

.botonservicio__lista a{
    width: 80%;
    margin: 7px;
    text-align: left;
    
}

.botonservicio__lista__activo a{
    width: 80%;
    margin: 7px;
    text-align: left;
    
}

.botonservicio__lista a:hover{
    color: #000 !important;
}




.navegador__botones a:hover{
    background-color: rgb(254, 253, 253);
    color: rgb(24, 23, 23);
}

.navegador__botones a:visited{
    background-color: rgb(255, 255, 255);
    color: rgb(251, 251, 252);
}


.despliegue__opciones{
    display: none;
}
/* main{
height: 70vh;
}

main img{
    position: absolute;
    top: 0;
    z-index: -100;
} */

@media only screen and (max-width: 850px) {
 
    .navegador__contenedor{
        position: relative;        
    }

    .navegador__botones{
       display: none; 
    }

    #switch{
        position: absolute;
        bottom:-100% ;
        width: 5%;
        margin: auto;
        height: 80%;
        display: block;
        border-radius: 20px;  
    }
       



    .despliegue__opciones{
        display: block;
        width: 50%;
        margin-right: 2%;
        margin-top: 2%;
        position: relative;

    }

    .despliegue__opciones .despliegue{
        font-size: 40px;
        z-index: 100;
        justify-self: right;
        position: absolute;
        right: 1%;

    }

    .cerrar{
        display: flex;
        justify-content: right;
    }

    .cerrar i{
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        margin-right: 10px;
        position: absolute;
        left: 90%;

    }

    .despliegue__opciones .despliegue:hover{
        cursor: pointer;
    }

    #despliegue{
       color: #fff;
       position: absolute;
       left:  90% ;
       margin-right: 10px;
    }




    /* .despliegue__opciones .despliegue:hover ~ .despliegue__opciones-capa1{
        display: block;
        background-color: #000;
        position: absolute;
        right: .5%;
        top: 100%;
    } */


    .despliegue__opciones li{
        list-style: none;
    }
    .despliegue__opciones a{
        text-decoration: none;
        color: #fff;
        border: 1px transparent;
        border-radius: 15px;
        margin: 3px 0;
        width: 60%;
        transition: 1s;
    }

    .despliegue__opciones button{
        color: #fff;
        border: 1px transparent;
        border-radius: 15px;
        margin: 3px 0;
        width: 60%;
        transition: 1s;
        background-color: transparent;
        text-align:left;
    }

    .despliegue__opciones a:hover{
        background-color: rgba(255, 255, 255, 0.598);
        color: #000;
    }

    .despliegue__opciones button:hover{
        background-color: rgba(255, 255, 255, 0.598);
        color: #000;
    }

    .despliegue__opciones-capa1{
        display: none;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.601);; 
        position: absolute;
        right: .5%;
        top: 100%; 
        border-radius: 10px;

        
    }

    .despliegue__opciones-capa1__activado{
        width: 70%;
        background-color: rgba(0, 0, 0, 0.601);; 
        position: absolute;
        right: .5%;
        top: 100%; 
        border-radius: 10px;
        display: block;
        z-index: 2;
    }


    .despliegue__opciones-capa1 ul li:nth-child(4){
        position: relative;
    }

    .despliegue__opciones-capa2{
        display: none;
    width: 100%;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.601);    
    position: absolute;
    top: 100%;
    left:0 ;
    
    }

    .despliegue__opciones-capa2__activado{
        display: block;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.601);    
        position: absolute;
        top: 100%;
        left:0 ;
        margin-top: 6%;
        z-index: 2;
    }

    .despliegue__opciones-capa2 a{
    width: 100%;
    }

}

@media only screen and (max-width: 550px){


    #switch{
        position: absolute;
        bottom:-100% ;
        width: 7%;
        height: 70%;
        display: block;
        border-radius: 20px;  
    }
    

}


@media only screen and (max-width: 400px){

    #switch{
        position: absolute;
        bottom:-100% ;
        width: 8%;
        height: 70%;
        display: block;
        border-radius: 20px;  
    }



}