.nav{
    position:fixed;
    width: 100%;
    z-index: 1;
    top: 0;
} 

main{
    position: sticky;
}

.fotoNosotros{
    height: 500px;
    width: 375px;
}

.textoNosotros{
    margin-left: 100px;
    margin-right: 100px;
}



